.Header{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}