/* Testimonial.css */
.testimonial-container {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.testimonial-slider {
  display: flex;
  justify-content: space-between;
  transition: transform 0.5s ease-in-out;
  margin: 40px;
  gap: 25px;
}

.testimonial-card {
  gap: 20px;
  padding: 25px;
  flex: 0 0 calc(50% - 30px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  position: relative;
}

.testimonial-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.testimonial-content {
  flex: 1;
}

.testimonial-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.testimonial-author {
  font-weight: bold;
  margin-bottom: 5px;
}

.testimonial-role {
  font-style: italic;
  color: #666;
  margin-bottom: 20px;
}

.testimonial-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}

.testimonial-arrow:hover {
  color: #ccc;
}

.prev {
  left: -35px;
}

.next {
  right: -35px;
}

.testimonial-circles {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.testimonial-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.testimonial-circle.active {
  background-color: #000;
}
